@import "variables";

:host {
  display: block;
  background: white;
}

.transfer {
  padding: 20px;
}

input {
  width: 100%;
}

.input-label {
  text-transform: uppercase;
  font-weight: bold;
}

.submit-btn-container {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: flex-end;
}

button {
  border: none;
  padding: 10px 40px;
  color: white;
  background: $orange;
  border-radius: 8px;
  cursor: pointer;
}
