<div class="transfer" [formGroup]="transferForm">
  <h3>Make a transfer</h3>
  <div>
    <p class="input-label">from account</p>
    <input formControlName="from">
  </div>

  <div>
    <p class="input-label">to account</p>
    <input formControlName="to">
  </div>

  <div>
    <p class="input-label">amount</p>
    <input formControlName="amount">
  </div>

  <div class="submit-btn-container">
    <button (click)="submit()">Submit</button>
  </div>

  <div *ngIf="isSubmitted">
    <p>Preview</p>
    <p>Amount: {{ transferForm.value.amount }}</p>
    <p>From: {{ transferForm.getRawValue().from }}</p>
    <p>To: {{ transferForm.value.to }}</p>
    <button (click)="makeTransfer()" [disabled]="hasOverDraft()">Transfer</button>
    <p *ngIf="hasOverDraft()">Max overdraft -$500.00!</p>
  </div>
</div>
