@import "media.mixins";

.filters {
  padding: 20px;

  @include md-up {
    display: flex;
    justify-content: space-between;
  }
}

.sorts {
  @include md-up {
    display: flex;
  }
}

.search-bar {
  margin-bottom: 20px;

  input {
    width: 70%;
    margin-right: 10px;
  }
}
