@import "media.mixins";

.filters {
  padding: 20px 0;

  @include md-up {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.sorts {
  @include md-up {
    display: flex;
  }
}

.search-bar {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;

  input {
    margin-right: 10px;
  }

  @include md-up {
    margin-bottom: 0;
  }
}

.clear-btn {
  border: none;
  background: white;
}
