@import "media.mixins";

.content {
  height: 100%;
  padding: 20px 10px;

  @include md-up {
    display: flex;
    padding: 60px 0;
  }
}

.transfer {
  background: white;
  height: 100%;
  margin-bottom: 20px;

  @include md-up {
    margin-right: 20px;
    flex: 0 0 250px;
    margin-bottom: 0;
  }
}

.section-header {
  @include md-up {
    width: 100%;
  }
}

.transactions {
  background: white;
  padding: 20px;

  @include md-up {
    width: 100%;
  }
}
