@import "variables";

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 13px;
  font-family: 'Kanit', sans-serif;
}

.section-header {
  background: $aqua;
  color: white;
  font-size: 16px;
  padding: 10px 20px;

  h3 {
    margin: 0;
  }
}

input {
  border: none;
  border-bottom: 1px solid $grey;
}
