@import "variables";
@import "media.mixins";

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 13px;
  font-family: 'Kanit', sans-serif;
}

.section-header {
  background: $aqua;
  color: white;
  text-align: center;
  font-size: 16px;
  padding: 10px 20px;

  h3 {
    margin: 0;
  }
}

input {
  border: none;
  border-bottom: 1px solid $grey;
}

.container {
  width: 100%;
  margin: 0 auto;

  @include sm-up {
    width: map-get($container-width, 'sm');
  }

  @include md-up {
    width: map-get($container-width, 'md');
  }

  @include lg-up {
    width: map-get($container-width, 'lg');
  }
}

.img-responsive {
  max-width: 100%;
  height: auto;
}

.w-100 {
  width: 100%;
}
